@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.grey {
  background-color: gainsboro;
  padding-top: 45px;
}

.logOut{
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}